:root {
  --common-bg: #cbd9dd;
}

.body {
  background-color: #ecf0f1;
}

.search-bar {
  width: 90% !important;
}

.common-bg {
  background-color: var(--common-bg);
}

.bg-search-bar {
  background-color: var(--common-bg);
}

.home-content {
  display: flex;
}

.home-list-question-left {
  min-height: 300px;
  background-color: red;
}

.home-list-filter-right {
  min-height: 300px;
  background-color: blue;
}
